<!DOCTYPE html>

<html>
    <body>
        <style>
         body {
             margin: 0px;
             padding: 0px;
             overflow: hidden;
         }
         iframe {
             border: none;
             width: 100%;
             height: 100%;
             position: absolute;
         }
        </style>

        <form>
            <input value="{{ url }}" type="text" name="url" /> <input type="submit" value="Proxy it!" />
        </form>
        <iframe src="{{ url }}"></iframe>
    </body>
</html>
